@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(35, 35, 35);
    color: rgba(255, 255, 255, 0.927);
  }
}

.container {
  max-width: 20rem;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
}

a:link {
  color: rgb(0, 255, 174);
}

a:visited {
  color: rgb(0, 105, 128);
}
